/* chat bot button only */

.chat-icon {
  position: fixed;
  top: 6.3%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  transition: 2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.chat-icon.hide {
  opacity: 0;
}

.chat-icon i {
  color: white;
  font-size: 25px;
}

/* chat bot button only */
/* <!-- chat bot container --> */
.chatbot-container {
  width: 20rem;
  height: 0rem;
  border-radius: 10px;
  position: absolute;
  top: 3.5%;
  left: 80%;
  transition: 1s ease-in-out;
  z-index: 10;
  opacity: 0;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background: linear-gradient(blue, skyblue);
}

.chatbot-container.fade {
  opacity: 1;
  height: 30rem;
  transition: 1s ease-in-out;
}
.chatbot-container-inner.fade1 {
  opacity: 1;
  height: 22rem;
  transition: 1s ease-in-out;
}

.chatbot-container-heading {
  padding: 0.5rem 1rem;
  width: 100%;
  height: 3rem;
  color: var(--text-clr);
}

.chatbot-container-inner-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.chatbot-container-inner {
  width: 18rem;
  height: 0rem;
  padding: 0%;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: end;
  transition: 1s ease-in-out;
  background-color: red;
}

.hidden{
  display: none;
}
/* <!-- chat bot container --> */
