* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-background: rgb(51,51,51);
    --clr-circle: rgb(255, 0, 0);
    --clr-circle: rgb(255, 94, 0);
    --clr-boxes: rgba(255, 255, 255, 0.109);
    --clr-text: rgb(255, 255, 255);
    --clr-dot1: rgba(255, 2, 2, 0.564);
    --clr-dot2: rgba(255, 60, 0, 0.516);
    --clr-dot3: rgba(255, 0, 119, 0.518);
    --clr-dot4: rgba(0, 255, 21, 0.552);
    --clr-dot5: rgba(0, 217, 255, 0.566);
    --clr-dot6: rgba(0, 255, 136, 0.566);
    --clr-dot7: rgba(255, 230, 0, 0.493);
    --clr-dot8: rgba(166, 255, 0, 0.566);
    --clr-dot9: rgba(132, 0, 255, 0.566);
    --clr-dot10: rgba(255, 0, 76, 0.566);
}

body {
    background-color: none;
    overflow-x: hidden;
}

#ani {
    position: absolute;
    width: 100vw;
    height: 455rem;
}

p {
    color: var(--clr-text);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1.5rem;
}

h1 {
    color: var(--clr-text);
    text-align: center;
}


@keyframes rotate {
    0% {
        transform: rotateZ(0deg)
    }

    100% {
        transform: rotateZ(360deg)
    }
}

/* animate */
.dot1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 80%;
    position: absolute;
    animation: animate1 50s forwards infinite;
    background-color: var(--clr-dot1);
}

.dot2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    position: absolute;
    animation-delay: 10s;
    animation: animate1 60s forwards infinite;
    background-color: var(--clr-dot2);
}

.dot3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    position: absolute;
    animation: animate2 60s forwards infinite;
    background-color: var(--clr-dot3);
}

.dot4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -5%;
    left: -5%;
    position: absolute;
    animation: animate3 35s forwards infinite;
    animation-delay: 10s;
    background-color: var(--clr-dot4);
}

.dot5 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    position: absolute;
    animation: animate4 40s forwards infinite;
    background-color: var(--clr-dot5);
}

.dot6 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    position: absolute;
    animation: animate4 40s reverse infinite;
    background-color: var(--clr-dot6);
}

.dot7 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 80%;
    position: absolute;
    animation: animate1 50s reverse infinite;
    background-color: var(--clr-dot7);
}

.dot8 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -5%;
    left: -5%;
    position: absolute;
    animation: animate1 60s reverse infinite;
    background-color: var(--clr-dot8);
}

/* animation keyframes stars */


@keyframes animate1 {
    0% {
        top: -5%;
    }

    100% {
        top: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: 0%;
        left: 100%;
    }

    100% {
        top: 100%;
        left: -10%
    }
}

@keyframes animate3 {
    0% {
        top: 40%;
        left: 100%;
    }

    50% {
        top: 45%;
        left: 50%;
    }

    100% {
        top: 100%;
        left: 50%
    }
}

@keyframes animate4 {
    0% {
        top: 10%;
        left: -20%;
    }

    30% {
        top: 10%;
        left: 75%;
    }

    60% {
        top: 75%;
        left: 75%;
    }

    100% {
        top: 75%;
        left: -20%;
    }
}

/* animation keyframes end */
/* animate */

@media screen and (min-width: 300px) {/*  for mobile*/
    #ani {
        position: absolute;
        width: 100vw;
        height: 401rem;
    }

    #main {
        width: 100vw;
        height: 401rem;
        position: absolute;
        overflow: hidden;
        z-index: -10;
    }

    .container {
        z-index: -10;
    }

    .corner-circle1 {
        top: -2%;
        left: -15%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle2 {
        top: 10%;
        left: 60%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle3 {
        top: 20%;
        left: -35%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle4 {
        top: 28%;
        left: 60%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle5 {
        top: 37%;
        left: -35%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle6 {
        top: 46%;
        left: 60%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle7 {
        top: 56%;
        left: -35%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle8 {
        top: 66%;
        left: 60%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle9 {
        top: 76%;
        left: -35%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle10 {
        top: 86%;
        left: 60%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle11 {
        top: 96%;
        left: -35%;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

}

@media screen and (min-width: 600px) {/*  for mobile land scape */
    #ani {
        position: absolute;
        width: 100vw;
        height: 455rem;
    }

    #main {
        width: 100vw;
        height: 455rem;
        position: absolute;
        overflow: hidden;
        z-index: -10;
    }


    .container {
        z-index: -10;
    }

    .corner-circle1 {
        top: -2%;
        left: -17%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: linear-gradient(red, rgb(255, 123, 0)) 1px 1px 30px 0px, linear-gradient(red, rgb(255, 123, 0)) -1px -1px 30px 0px;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle2 {
        top: 10%;
        left: 60%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle3 {
        top: 20%;
        left: -35%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle4 {
        top: 28%;
        left: 60%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle5 {
        top: 37%;
        left: -35%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle6 {
        top: 46%;
        left: 60%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle7 {
        top: 56%;
        left: -35%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle8 {
        top: 66%;
        left: 60%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle9 {
        top: 76%;
        left: -35%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle10 {
        top: 86%;
        left: 60%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle11 {
        top: 96%;
        left: -35%;
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .boxes {
        margin: 2.5rem;
        width: 15rem;
        height: 10rem;
        border-radius: 20px;
        background-color: var(--clr-boxes);
        box-shadow: 10px 15px 55px;
        backdrop-filter: blur(10px);
    }

}

@media screen and (min-width: 800px) {/*  for tablet and ipad  */
    #ani {
        position: absolute;
        width: 100vw;
        height: 477rem;
    }

    #main {
        width: 100vw;
        height: 477rem;
        position: absolute;
        overflow: hidden;
        z-index: -10;
    }


    .container {
        z-index: -10;
    }

    .corner-circle1 {
        top: -2%;
        left: -17%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle2 {
        top: 10%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle3 {
        top: 20%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle4 {
        top: 28%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle5 {
        top: 37%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle6 {
        top: 46%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle7 {
        top: 56%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle8 {
        top: 66%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle9 {
        top: 76%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle10 {
        top: 86%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle11 {
        top: 96%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .boxes {
        margin: 2.5rem;
        width: 15rem;
        height: 10rem;
        border-radius: 20px;
        background-color: var(--clr-boxes);
        box-shadow: 10px 15px 55px;
        backdrop-filter: blur(10px);
    }
}

@media screen and (min-width: 1024px) {/*for laptop*/

    #ani {
        position: absolute;
        width: 100vw;
        height: 477rem;
    }

    #main {
        width: 100vw;
        height: 477rem;
        position: absolute;
        overflow: hidden;
        z-index: -10;
    }


    .container {
        z-index: -10;
    }

    .corner-circle1 {
        top: -2%;
        left: -17%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle2 {
        top: 10%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle3 {
        top: 20%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle4 {
        top: 28%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle5 {
        top: 37%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle6 {
        top: 46%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle7 {
        top: 56%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle8 {
        top: 66%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle9 {
        top: 76%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle10 {
        top: 86%;
        left: 60%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle11 {
        top: 96%;
        left: -35%;
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .boxes {
        margin: 2.5rem;
        width: 15rem;
        height: 10rem;
        border-radius: 20px;
        background-color: var(--clr-boxes);
        box-shadow: 10px 15px 55px;
        backdrop-filter: blur(10px);
    }
}

@media screen and (min-width: 1280px) {/*  for pc */

   
    #ani {
        position: absolute;
        width: 100vw;
        height: 453rem;
    }

    #main {
        width: 100vw;
        height: 453rem;
        position: absolute;
        overflow: hidden;
        z-index: -10;
    }


    .container {
        z-index: -10;
    }

    .corner-circle1 {
        top: -4%;
        left: -17%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle2 {
        top: 10%;
        left: 60%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle3 {
        top: 20%;
        left: -35%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle4 {
        top: 28%;
        left: 60%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle5 {
        top: 37%;
        left: -35%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle6 {
        top: 46%;
        left: 60%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle7 {
        top: 56%;
        left: -35%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle8 {
        top: 66%;
        left: 60%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle9 {
        top: 76%;
        left: -35%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle10 {
        top: 86%;
        left: 60%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle11 {
        top: 96%;
        left: -35%;
        position: absolute;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .boxes {
        margin: 2.5rem;
        width: 15rem;
        height: 10rem;
        border-radius: 20px;
        background-color: var(--clr-boxes);
        box-shadow: 10px 15px 55px;
        backdrop-filter: blur(10px);
    }
}

@media screen and (min-width: 1580px) {/*  for mac*/
    #ani {
        position: absolute;
        width: 100vw;
        height: 453rem;
    }

    #main {
        width: 100vw;
        height: 453rem;
        position: absolute;
        overflow: hidden;
        z-index: -10;
    }


    .container {
        z-index: -10;
    }

    .corner-circle1 {
        top: -5%;
        left: -17%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle2 {
        top: 8%;
        left: 70%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle3 {
        top: 20%;
        left: -30%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle4 {
        top: 28%;
        left: 70%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle5 {
        top: 37%;
        left: -30%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle6 {
        top: 46%;
        left: 70%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle7 {
        top: 56%;
        left: -30%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle8 {
        top: 66%;
        left: 70%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle9 {
        top: 76%;
        left: -30%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle10 {
        top: 86%;
        left: 70%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .corner-circle11 {
        top: 96%;
        left: -30%;
        position: absolute;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        background: linear-gradient(red, rgb(255, 123, 0));
        animation: rotate 10s linear infinite;
    }

    .boxes {
        margin: 2.5rem;
        width: 15rem;
        height: 10rem;
        border-radius: 20px;
        background-color: var(--clr-boxes);
        box-shadow: 10px 15px 55px;
        backdrop-filter: blur(10px);
    }
}



.temp{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

}
.temp-inner{
    width: 200px;
    height: 200px;
    background:linear-gradient(orange,orangered 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 50s;

}

