/* header start */

header {
  position: sticky;
  top: 0%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  z-index: 100;
  transition: 1s ease-in-out;
}

#header.color {
  transition: 1s ease-in-out;
  background: rgb(51, 51, 51);
}

header .logo {
  display: flex;
  align-items: center;
  width: 50%;
  height: 80px;
}

header .logo img {
  width: 50px;
  height: auto;
}

header ul {
  font-size: 18px;
  list-style: none;
  display: flex;
}

header ul img {
  display: none;
}

header ul li {
  margin: 0px 5px;
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  display: flex;
  transition: 0.7s ease-in-out;
  justify-content: center;
  align-items: center;
}

header ul li a {
  transition: 0.7s ease-in-out;
}

header ul li.active {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.515),
    -1px -1px 12px 0px rgba(0, 0, 0, 0.515);
}

header ul li:hover {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.515),
    -1px -1px 12px 0px rgba(0, 0, 0, 0.515);
}

header ul li a {
  color: var(--text-clr);
  text-decoration: none;
}

header .menu-btn i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
  transition: 1s ease-in-out;
}
#click {
  display: none;
}
/* header responsive */
@media screen and (max-width: 800px) {
  header ul {
    font-size: 25px;
    position: fixed;
    top: 0%;
    left: -100%;
    background-color: var(--body-bgcolor);
    width: 100vw;
    height: 100vh;
    display: grid;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding: 12rem 0rem;
    transition: 1s ease-in-out;
  }

  #click:checked ~ ul {
    left: 0%;
  }

  header ul img {
    display: block;
    width: 50px;
    height: auto;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  header .menu-btn i {
    display: block;
    font-size: 35px;
  }

  ul .fa-solid.fa-xmark {
    position: absolute;
    top: 7%;
    left: 85%;
  }
  header ul li:hover {
    box-shadow: none;
  }

  header ul li a:hover {
    color: orange;
  }

  header ul li.active {
    box-shadow: none;
  }

  header ul li a.active {
    color: orange;
  }
}
/* header responsive */
/* header end */
